In [3]:
##Get data
#curl --compressed -o waqi-covid-2020.csv   https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2020

In [1]:
import pandas as pd
import numpy as np

In [7]:
air_quality_data = pd.read_csv("~/Desktop/Thinkit/Data/waqi-covid-2020.csv")
air_quality_data.head()
air_quality_data.tail()

,Date,Country,City,Specie,count,min,max,median,variance
1048566,2021-07-19,IN,Thrissur,temperature,71,24.0,30.0,26.5,44.57
1048567,2021-07-20,IN,Thrissur,temperature,48,24.0,30.5,25.0,54.68
1048568,2021-08-10,IN,Thrissur,temperature,72,23.5,29.5,25.0,41.76
1048569,2021-10-01,IN,Thrissur,temperature,72,24.0,31.0,26.0,48.90
1048570,2021-03-25,IN,Thrissur,temperature,72,24.0,34.0,25.0,123.87

In [11]:
lockdown_dates = pd.read_csv("~/Desktop/Thinkit/Data/countryLockdowndates.csv")
lockdown_dates.head()
lockdown_dates.tail()

,Country/Region,Province,Date,Type,Reference
302,Venezuela,NaN,16/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
303,Vietnam,NaN,19/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
304,West Bank and Gaza,NaN,05/03/2020,Full,NaN
305,Zambia,NaN,NaN,None,NaN
306,Zimbabwe,NaN,27/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...

In [ ]:
#check data
#check partial, full and none types of lockdown